## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Kodiak,US,2021-08-15 16:48:57,57.7900,-152.4072,47.71,76,1,0.00,clear sky,0,0
1,1,Hilo,US,2021-08-15 16:48:57,19.7297,-155.0900,74.62,88,1,5.75,clear sky,0,0
2,2,Klimovo,RU,2021-08-15 16:48:58,52.3805,32.1923,75.54,51,55,3.42,broken clouds,0,0
3,3,Lebu,CL,2021-08-15 16:48:58,-37.6167,-73.6500,50.27,89,100,24.56,overcast clouds,0,0
4,4,Bredasdorp,ZA,2021-08-15 16:48:58,-34.5322,20.0403,60.12,67,6,5.75,clear sky,0,0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Prompt the customer for the minimum temperature preference.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Kodiak,US,2021-08-15 16:48:57,57.7900,-152.4072,47.71,76,1,0.00,clear sky,0,0
1,1,Hilo,US,2021-08-15 16:48:57,19.7297,-155.0900,74.62,88,1,5.75,clear sky,0,0
2,2,Klimovo,RU,2021-08-15 16:48:58,52.3805,32.1923,75.54,51,55,3.42,broken clouds,0,0
3,3,Lebu,CL,2021-08-15 16:48:58,-37.6167,-73.6500,50.27,89,100,24.56,overcast clouds,0,0
4,4,Bredasdorp,ZA,2021-08-15 16:48:58,-34.5322,20.0403,60.12,67,6,5.75,clear sky,0,0
5,5,Pasni,PK,2021-08-15 16:44:24,25.2631,63.4710,79.29,82,92,10.45,overcast clouds,0,0
6,6,Komsomolskiy,UZ,2021-08-15 16:48:59,40.4272,71.7189,79.52,24,20,6.91,few clouds,0,0
7,7,Port Alfred,ZA,2021-08-15 16:48:59,-33.5906,26.8910,61.18,79,0,10.47,clear sky,0,0
8,8,Westport,US,2021-08-15 16:45:20,41.1415,-73.3579,82.78,54,1,1.01,clear sky,0,0
9,9,Jamestown,US,2021-08-15 16:45:47,42.0970,-79.2353,72.09,63,1,3.00,clear sky,0,0

In [5]:
# 4a. Determine if there are any empty rows.

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kodiak,US,47.71,clear sky,57.7900,-152.4072,
1,Hilo,US,74.62,clear sky,19.7297,-155.0900,
2,Klimovo,RU,75.54,broken clouds,52.3805,32.1923,
3,Lebu,CL,50.27,overcast clouds,-37.6167,-73.6500,
4,Bredasdorp,ZA,60.12,clear sky,-34.5322,20.0403,
5,Pasni,PK,79.29,overcast clouds,25.2631,63.4710,
6,Komsomolskiy,UZ,79.52,few clouds,40.4272,71.7189,
7,Port Alfred,ZA,61.18,clear sky,-33.5906,26.8910,
8,Westport,US,82.78,clear sky,41.1415,-73.3579,
9,Jamestown,US,72.09,clear sky,42.0970,-79.2353,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
# 6c. Get latitude and longitude from DataFrame

    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kodiak,US,47.71,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
1,Hilo,US,74.62,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Klimovo,RU,75.54,broken clouds,52.3805,32.1923,
3,Lebu,CL,50.27,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
4,Bredasdorp,ZA,60.12,clear sky,-34.5322,20.0403,Bredasdorp Country Manor

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))